<!DOCTYPE html >
<!--布局标签，定义一个代码片段，方便其它地方引用-->
<html xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="copy">
<body>

<div id="movie_list" class="movie-list">
    <div class="wrap">
        <div class="list-title"><h3 id="category_name"></h3></div>
        <ul id="box1">

        </ul>
    </div>
</div>
<div id="text_list" class="text-list">
    <div class="wrap">
        <dl id="box2" class="list-left">
            <dt class="list-title"><h3>热门直播</h3></dt>


        </dl>
        <dl id="box3" class="list-right">
            <dt class="list-title"><h3>新人主播</h3></dt>


        </dl>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/douyuapi/myutil.js}"></script>
</body>
</html>

