<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta http-equiv="Content-type" name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="keywords" content="斗鱼">
    <meta name="description" content="斗鱼">
    <title th:text="${short_name}" id="titleya"></title>
    <link rel="stylesheet" th:href="@{/css/recommend/style.css}"/>
    <style type="text/css" abt="234"></style>

    <script type="text/javascript" th:src="@{/js/common/jquery-3.2.1.min.js}"></script>



    <script>//console.log('a')

    doAdblock();

    function doAdblock() {
        (function () {
            function A() {
            }

            A.prototype = {
                rules: {
                    '17173_in': {
                        'find': /http:\/\/f\.v\.17173cdn\.com\/(\d+\/)?flash\/PreloaderFile(Customer)?\.swf/,
                        'replace': "http://swf.adtchrome.com/17173_in_20150522.swf"
                    },
                    '17173_out': {
                        'find': /http:\/\/f\.v\.17173cdn\.com\/(\d+\/)?flash\/PreloaderFileFirstpage\.swf/,
                        'replace': "http://swf.adtchrome.com/17173_out_20150522.swf"
                    },
                    '17173_live': {
                        'find': /http:\/\/f\.v\.17173cdn\.com\/(\d+\/)?flash\/Player_stream(_firstpage)?\.swf/,
                        'replace': "http://swf.adtchrome.com/17173_stream_20150522.swf"
                    },
                    '17173_live_out': {
                        'find': /http:\/\/f\.v\.17173cdn\.com\/(\d+\/)?flash\/Player_stream_(custom)?Out\.swf/,
                        'replace': "http://swf.adtchrome.com/17173.out.Live.swf"
                    }
                },
                _done: null,
                get done() {
                    if (!this._done) {
                        this._done = new Array();
                    }
                    return this._done;
                },
                addAnimations: function () {
                    var style = document.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML = 'object,embed{\
                -webkit-animation-duration:.001s;-webkit-animation-name:playerInserted;\
                -ms-animation-duration:.001s;-ms-animation-name:playerInserted;\
                -o-animation-duration:.001s;-o-animation-name:playerInserted;\
                animation-duration:.001s;animation-name:playerInserted;}\
                @-webkit-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}\
                @-ms-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}\
                @-o-keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}\
                @keyframes playerInserted{from{opacity:0.99;}to{opacity:1;}}';
                    document.getElementsByTagName('head')[0].appendChild(style);
                },
                animationsHandler: function (e) {
                    if (e.animationName === 'playerInserted') {
                        this.replace(e.target);
                    }
                },
                replace: function (elem) {
                    if (this.done.indexOf(elem) != -1) return;
                    this.done.push(elem);
                    var player = elem.data || elem.src;
                    if (!player) return;
                    var i, find, replace = false;
                    for (i in this.rules) {
                        find = this.rules[i]['find'];
                        if (find.test(player)) {
                            replace = this.rules[i]['replace'];
                            if ('function' === typeof this.rules[i]['preHandle']) {
                                this.rules[i]['preHandle'].bind(this, elem, find, replace, player)();
                            } else {
                                this.reallyReplace.bind(this, elem, find, replace)();
                            }
                            break;
                        }
                    }
                },
                reallyReplace: function (elem, find, replace) {
                    elem.data && (elem.data = elem.data.replace(find, replace)) || elem.src && ((elem.src = elem.src.replace(find, replace)) && (elem.style.display = 'block'));
                    var b = elem.querySelector("param[name='movie']");
                    this.reloadPlugin(elem);
                },
                reloadPlugin: function (elem) {
                    var nextSibling = elem.nextSibling;
                    var parentNode = elem.parentNode;
                    parentNode.removeChild(elem);
                    var newElem = elem.cloneNode(true);
                    this.done.push(newElem);
                    if (nextSibling) {
                        parentNode.insertBefore(newElem, nextSibling);
                    } else {
                        parentNode.appendChild(newElem);
                    }
                },
                init: function () {
                    var handler = this.animationsHandler.bind(this);
                    //document.body.addEventListener('webkitAnimationStart', handler, false);
                    //document.body.addEventListener('msAnimationStart', handler, false);
                    // document.body.addEventListener('oAnimationStart', handler, false);
                    // document.body.addEventListener('animationstart', handler, false);
                    // this.addAnimations();
                }
            };
            new A().init();
        })();
    }

    //去除一些广告
    //remove baidu search ad
    if (document.URL.indexOf('www.baidu.com') >= 0) {
        if (document && document.getElementsByTagName && document.getElementById && document.body) {
            var aa = function () {
                var all = document.body.querySelectorAll("#content_left div,#content_left table");
                for (var i = 0; i < all.length; i++) {
                    if (/display:\s?(table|block)\s!important/.test(all[i].getAttribute("style"))) {
                        all[i].style.display = "none";
                        all[i].style.visibility = 'hidden';
                    }
                }
                all = document.body.querySelectorAll('.result.c-container[id="1"]');
                //if(all.length == 1) return;
                for (var i = 0; i < all.length; i++) {
                    if (all[i].innerHTML && all[i].innerHTML.indexOf('广告') > -1) {
                        all[i].style.display = "none";
                        all[i].style.visibility = 'hidden';
                    }
                }
            }
            aa();
            document.getElementById('wrapper_wrapper').addEventListener('DOMSubtreeModified', aa)
        }
        ;
    }
    //remove sohu video ad
    if (document.URL.indexOf("tv.sohu.com") >= 0) {
        if (document.cookie.indexOf("fee_status=true") == -1) {
            document.cookie = 'fee_status=true'
        }
        ;
    }
    //remove 56.com video ad
    if (document.URL.indexOf("56.com") >= 0) {
        if (document.cookie.indexOf("fee_status=true") == -1) {
            document.cookie = 'fee_status=true'
        }
        ;
    }
    //fore iqiyi enable html5 player function
    if (document.URL.indexOf("iqiyi.com") >= 0) {
        if (document.cookie.indexOf("player_forcedType=h5_VOD") == -1) {
            document.cookie = 'player_forcedType=h5_VOD'
            if (localStorage.reloadTime && Date.now() - parseInt(localStorage.reloadTime) < 60000) {
                console.log('no reload')
            } else {
                location.reload()
                localStorage.reloadTime = Date.now();
            }
        }
    }
    </script>
    <style type="text/css">object, embed {
        -webkit-animation-duration: .001s;
        -webkit-animation-name: playerInserted;
        -ms-animation-duration: .001s;
        -ms-animation-name: playerInserted;
        -o-animation-duration: .001s;
        -o-animation-name: playerInserted;
        animation-duration: .001s;
        animation-name: playerInserted;
    }

    @-webkit-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @-ms-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @-o-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }</style>

</head>
<body>

<div id="nav" class="navbar">
    <div class="wrap">
        <div class="logo"><a href="/">
            首页</a></div>
        <div id="nav_menu">
            <div class="nav-right">
                <ul class="mt">
                    <li id="mt_home" ontouchstart=""><i
                            class="icon-home"></i><span>首页</span></li>
                    <li id="mt_menu" onclick="show_menu();"><i id="mt_menu_icon" class="icon-menu"></i><span>菜单</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="menu" class="menu">
    <div class="wrap">
        <dl class="first">
            <dt><a href="/category/wzry">网游竞技</a></dt>
            <dd><a href="/category/LOL">英雄联盟</a></dd>
            <dd><a href="/category/DOTA2">DOTA2</a></dd>
            <dd><a href="/category/CF">穿越火线</a></dd>
            <dd><a href="/category/WOW">魔兽世界</a></dd>
            <dd><a href="/category/DNF">DNF</a></dd>
            <dd><a href="/category/MC">我的世界</a></dd>


        </dl>
        <dl>
            <dt><a href="/category/Overwatch">单机热游</a></dt>
            <dd><a href="/category/jdqs">绝地求生</a></dd>
            <dd><a href="/category/hyrz">火影忍者</a></dd>
            <dd><a href="/category/LRSZQ">狼人杀专区</a></dd>
            <dd><a href="/category/classic">怀旧游戏</a></dd>
           <!--
            <dd><a href="/category/gwlrsj">怪物猎人</a></dd>-->

        </dl>
        <dl>
            <dt><a href="/category/TX3">娱乐天地</a></dt>
            <dd><a href="/category/ecy">二次元</a></dd>
            <dd><a href="/category/xingyu">星娱</a></dd>
            <dd><a href="/category/HW">户外</a></dd>
            <dd><a href="/category/ms">美食</a></dd>

        </dl>
        <dl>
            <dt><a href="/category/lsqy">合集</a></dt>
            <dd><a href="/category/yz">颜值</a></dd>
            <dd><a href="/category/music">音乐</a></dd>
            <dd><a href="/category/TVgame">主机游戏</a></dd>

        </dl>
    </div>
</div>
<div id="top_spon">
    <div class="top-spon">
        <div class="wrap">
            <ul></ul>
        </div>
    </div>
</div>
<!--复制三种方法的区别,学习一下https://blog.csdn.net/liyanlei5858/article/details/80183409-->
<!--核查了个遍,发现一个问题,用include的话一下拉就刷新烦死了,现在终于解决了-->
<div th:replace="recommend/rec_body::copy">
    <script type="text/javascript" th:src="@{/js/recommend/config.js}"></script>

</div>

<script type="text/javascript" th:src="@{/js/recommend/layout.js}"></script>
<div id="bottom_spon">
    <div class="bottom-spon">
        <div class="wrap">
            <ul></ul>
        </div>
    </div>
</div>
<div id="float_spon"></div>

<div id="guide" class="wrap" style="display: none;">
    <div class="guide">
        <span class="pc">
            <a href="javascript:void(0)" class="home" onclick="gotop();" title="主页"><span>主页</span></a>
            <a href="/s"  class="top"title="搜索"><span>搜索</span></a>
        </span>
        <span class="mt"><a href="#" title="回首页" ontouchstart=""><i class="icon-home2"></i></a><a
                href="javascript:window.location.reload();" title="刷新" ontouchstart=""><i
                class="icon-refresh"></i></a><a href="javascript:void(0)" id="btnGotop" onclick="gotop();"
                                                title="回顶部"><i class="icon-top"></i></a></span>
    </div>
</div>


<!--基本上涉及了thymeleaf的所有操作-->
<script th:inline="javascript">
    /*改分类名*/
    var category_name= [[${short_name}]];
    if (category_name=="all"){
        $("#category_name").text("全部直播");
    }else if (category_name=="wzry") {
        $("#category_name").text("网游竞技");
    }else if (category_name=="LOL") {
        $("#category_name").text("LOL");
    }else if (category_name=="DOTA2") {
        $("#category_name").text("DOTA2");
    }else if (category_name=="WOW") {
        $("#category_name").text("魔兽世界");
    }else if (category_name=="CF") {
        $("#category_name").text("穿越火线");
    }else if (category_name=="jdqs") {
        $("#category_name").text("绝地求生");
    }else if (category_name=="TVgame") {
        $("#category_name").text("主机游戏");
    }else if (category_name=="ecy") {
        $("#category_name").text("二次元");
    }else if (category_name=="xingyu") {
        $("#category_name").text("星娱");
    }else if (category_name=="HW") {
        $("#category_name").text("户外");
    }else if (category_name=="ms") {
        $("#category_name").text("美食");
    }else if (category_name=="yz") {
        $("#category_name").text("颜值");
    }else if (category_name=="music") {
        $("#category_name").text("音乐");
    }else if (category_name=="Overwatch") {
        $("#category_name").text("单机热游");
    }else if (category_name=="TX3") {
        $("#category_name").text("娱乐天地");
    }else if (category_name=="lsqy") {
        $("#category_name").text("合集");
    }else if (category_name=="TencentGame") {
        $("#category_name").text("腾讯游戏");
    }else if (category_name=="DNF") {
        $("#category_name").text("DNF");
    }else if (category_name=="hyrz") {
        $("#category_name").text("火影忍者");
    }else if (category_name=="LRSZQ") {
        $("#category_name").text("狼人杀专区");
    }else if (category_name=="classic") {
        $("#category_name").text("怀旧游戏");
    }else if (category_name=="MC") {
        $("#category_name").text("我的世界");
    }else if (category_name=="gwlrsj") {
        $("#category_name").text("怪物猎人");
    }



</script>
</body>
</html>