<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>欢迎查看直播间</title>
    <link rel="stylesheet" th:href="@{/semantic/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/js/common/jquery-3.2.1.min.js}"></script>

    <link rel="stylesheet" th:href="@{/barrage/css/barrager.css}"/>
    <script type="text/javascript" th:src="@{/barrage/js/jquery.barrager.js}"></script>
</head>
<body>

<div style="padding: 20px;padding-left: 100px;background-color: #F2F2F2;">

    <div class="ui items">
        <div class="item">
            <div class="image">
                <img th:src="${roominfo.data.room_thumb}">
            </div>
            <div class="content">
                <a class="header">
                    <h3 style="margin-bottom: 14px" th:text="${roominfo.data.room_name}">标题</h3>
                </a>
                <p th:text="'主播：'+${roominfo.data.owner_name}">主播：xx</p>
                <p th:text="'分区：'+${roominfo.data.cate_name}">分区：xx</p>
                <p th:text="'房间 id：'+${roominfo.data.room_id}">房间 id:67373</p>
                <button id="but1" class="layui-btn layui-btn-warm">弹幕走起</button>

            </div>
        </div>
    </div>

</div>

<div  class="sidebar" style="float: left;visibility: hidden">
    先放着
</div>
<div class="content" th:include="danmu::copy" style="float: right;width: 100%">

</div>

<script type="text/javascript" th:src="@{/js/highcharts/mycharts.js}"></script>
</body>
</html>